* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div {
  width: 70%;
  margin: auto;
  background-color: rgb(105, 199, 207);
  border-radius: 20px;
  padding: 30px;
  border: solid 1px;
}

img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

p {
  line-height: 30px;
}
